@font-face {
    font-family: "animales_fantastic";
    src: url("../fontface/animales_fantastic.otf") format("opentype");
}

#body{
    background-color: black;
    font-family: "animales_fantastic", "Times New Roman",sans-serif;
    font-size: 100%;
    color: #FFB066;
}
.title{
    font-family: "animales_fantastic", "Times New Roman",sans-serif;
    color: #FFB066;
    text-align: center;
    margin-top: 0px;
    font-size: 100px;
    margin-bottom: 0px;
    position: relative;
    bottom: .25em;
}
#title{
    position: relative;
}
#fantastic{
    margin-top: 0;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#image{
    border: #FFB066 dashed 1px;
    height: 50%;
   
}

#guessing{
    border: #FFB066 dashed 1px;
    height: 50%;
    font-size: 1.5em;
    text-align: center;
   
}

#message {
   margin-top: 2em;
   margin-bottom: 1em;
}

#wins {
  text-align: center;
}

#text {
    margin-bottom: 1em;
}

