@font-face {
    font-family: "animales_fantastic";
    src: url("../fontface/animales_fantastic.otf") format("opentype");
}

#body{
    background-color: black;
    font-family: "animales_fantastic", "Times New Roman",sans-serif;
      color: #FFB066;
}

#wordGame{
      border: #FFB066 dashed 1px;
}

.title{
    font-family: "animales_fantastic", "Times New Roman",sans-serif;
    color: #FFB066;
    text-align: center;
    margin-top: 0px;
    font-size: 4.5em;
    margin-bottom: 0px;
    position: relative;
    bottom: .25em;
}

#title{
    position: relative;
}

#fantastic{
    margin-top: auto;;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#image{
    height: 50%;
    margin-bottom: 2em;
    font-size:1.5em;
   
}

#guessing{
    font-size: 1.2em;
    text-align: center;   
}

#message {
   margin-top: 2em;
   margin-bottom: 1em;
}

#wins {
  margin-bottom: 1em;
}

#text {
    margin-bottom: 1em;
}

#previous {
    margin-top:2em;
    margin-bottom: 1em;
    text-align: center;
}

#letters{
    margin-bottom: 1.65em;
}
#current {
    margin-bottom: 1em;
}

#dashes {
    display: inline-block;
    list-style: none;
}
